* {
	margin: 0;
	padding: 0;
}

input {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

input:focus {
	outline: none;
}

:root {
	--default-weight: 200;
}

@media (prefers-color-scheme: dark) {
  :root {
		--background: #1e1e1e;
		--text: #ffffff;
		--foreground: #454545;
	}

	::selection {

	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #ffffff;
		--text: #1e1e1e;
		--foreground: #efefef;
	}

	::selection {

	}
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "Dosis";
	src: url("./Dosis-Regular.ttf");
	font-display: swap;
}

body {
	box-sizing: border-box;
	font-family: "Dosis";
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
	background: var(--background);
	color: var(--text);
}

h1 {
	font-size: 2.5rem;
	font-weight: var(--default-weight);
	color: var(--text);
}

h2 {
	font-size: 1.5rem;
	font-weight: var(--default-weight);
	color: var(--text);
}

h3 {
	font-size: 1.2rem;
	font-weight: var(--default-weight);
	color: var(--text);
}

h4 {
	font-size: 1rem;
	font-weight: var(--default-weight);
	color: var(--text);
}

p {
	font-size: 1.2rem;
	font-weight: var(--default-weight);
	margin: 1.5rem .5rem;
	color: var(--text);
}

button {
	color: var(--text);
}

button:hover {
	cursor: pointer;
	background: var(--foreground);
}

button:disabled {
	cursor: not-allowed;
	opacity: .25;
}

.call-to-action {
	font-size: 1.2rem;
	font-weight: 400;
	padding: .5rem 1rem;
	border-radius: 0;
	border: none;
	outline: none;
	background: var(--foreground);
	color: var(--text);
}

.simple {
	font-size: 1rem;
	font-weight: var(--default-weight);
	border: none;
	outline: none;
	background: none;
}

.simple:hover {
	background: none;
}

a {
	color: var(--text);
}

a:visited {
	color: var(--text);
}
