* {
	margin: 0;
	padding: 0;
}

input {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

input:focus {
	outline: none;
}

:root {
	color-scheme: light dark;
	--default-weight: 200;
}

::selection {

}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "Dosis";
	src: url("./Dosis-Regular.ttf");
	font-display: swap;
}

body {
	box-sizing: border-box;
	font-family: "Dosis";
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

h1 {
	font-size: 2.5rem;
	font-weight: var(--default-weight);
}

h2 {
	font-size: 1.5rem;
	font-weight: var(--default-weight);
}

h3 {
	font-size: 1.2rem;
	font-weight: var(--default-weight);
}

h4 {
	font-size: 1rem;
	font-weight: var(--default-weight);
}

p {
	font-size: 1.2rem;
	font-weight: var(--default-weight);
	margin: 1.5rem .5rem;
}

button:hover {
	cursor: pointer;
}

button: disabled {
	cursor: not-allowed;
}

.call-to-action {
	font-size: 1rem;
	font-weight: 400;
	padding: .5rem 1rem;
	border-radius: 0;
	border: none;
	outline: none;
	background: CanvasText;
	color: Canvas;
}
